# Carpetas a ignorar
.vs/
bin/
obj/
TestResults/
packages/

# Archivos temporales
*.user
*.suo
*.userprefs
*.vscode
*.vs
*.tmp
*.log

# Archivos de compilación
*.dll
*.exe
*.pdb
*.cache
*.bak

# Otros
.DS_Store
Thumbs.db 